<div class="container-fluid">
    <div class="login-form">
     <div class="auth">
        <div class="logo">
          <mat-icon svgIcon="{{ authText | lowercase}}"></mat-icon>
        </div>
        <h4>{{ authText}}</h4>
        <div class="auth-card">
          <form [formGroup]="form" (ngSubmit)="submitForm(authText)">
            <div class="form-field" *ngFor="let field of authForm">
              <form-field *ngIf="field.isVisible || !isLogin" [formField]="field"></form-field>
            </div>
            <p *ngIf="isLogin && authText == 'Login'" class="password-reset"><a href="#" (click)="forgotPassword($event)">Forgot Password ?</a></p>
            <button class="btn btn-primary" mat-raised-button color="primary" type="submit" [disabled]="form.invalid || form.pristine">
                {{ authText}}
            </button>
          </form>
        </div>
        <p *ngIf="isRestPassword">
            {{ isLogin ? "Don't have an account?" : "Already have an account?" }}
            <a href="#" (click)="toggleForm($event, authText)">
              {{ isLogin ? 'Register' : 'Login' }}
            </a>
          </p>
      </div>
    </div>
  </div>

