.container-fluid {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  .login-form{
    background:rgba(255,255,255,0.8);
    padding:20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width:20%;
    transition: all 0.3s;
    margin-right: 10%;
    h4{
        text-align: left;
        font-weight: 400;    
    }
    .auth-card{
        margin-bottom: 20px;
    }
    p{
        margin-bottom:0;
    }
    .password-reset{
        text-align: right;
        font-size: 12px;
        margin-bottom:20px;
    }
    ::ng-deep .form-field{
        .mat-mdc-form-field{margin-top:15px;}
      &:last-child{
        .mat-mdc-form-field{margin-top:0px;}
      }  
    }
  }
}